.column,
.columnHeader {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.flag {
    background-color: rgb(143, 143, 143);
}

.leftColumn {
    display: flex;
    margin-left: 15px;
    width: 650px;
    align-items: start;
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
}

.middleColumn {
    display: flex;
    margin-left: 15px;
    width: 550px;
    justify-content: center;
    background-color: rgb(143, 143, 143);
}

.rightColumn {
    width: 250px;
}

.chooseReg {
    width: 260px;
    height: 35px;
    margin-right: 15px;
}

.selectRegion {
    font-size: x-large;
    width: 360px;
    height: 35px;
    border-radius: 10px;

    margin-right: 15px;

}

.resetButton {
    font-size: x-large;
    width: 260px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
}